<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
</head>
<body>
    <div>
        <div id="main-box">
            <h1>SISTEMA ADMINISTRADOR</h1>
        </div>
        <button id="btn_proyecto" onclick="window.location.href='http://127.0.0.1:8000/listado1'">PROYECTOS</button>
    </div>
</body>
</html>